#ifdef debug_linux_host
#include <stdio.h>
#endif

#include "interpreter.h"

#define DST(i) ((i.reg) & 0xf)
#define SRC(i) ((i.reg) >> 4)

#define PSEUDO_CALL 1
#define INSTR_SIZE 8
#define MAX_CALL_DEPTH 16
#define FRAME_REGS 11
#define BPF_FRAME_SIZE 512


#define INSTR_CRYPT_SEED [[[ ebpf_crypt_seed ]]]

#define ALU64_ADD_K [[[ alu64_add_k ]]]
#define ALU64_ADD_X [[[ alu64_add_x ]]]
#define ALU64_SUB_K [[[ alu64_sub_k ]]]
#define ALU64_SUB_X [[[ alu64_sub_x ]]]
#define ALU64_MUL_K [[[ alu64_mul_k ]]]
#define ALU64_MUL_X [[[ alu64_mul_x ]]]
#define ALU64_DIV_K [[[ alu64_div_k ]]]
#define ALU64_DIV_X [[[ alu64_div_x ]]]
#define ALU64_MOD_K [[[ alu64_mod_k ]]]
#define ALU64_MOD_X [[[ alu64_mod_x ]]]
#define ALU64_AND_K [[[ alu64_and_k ]]]
#define ALU64_AND_X [[[ alu64_and_x ]]]
#define ALU64_OR_K [[[ alu64_or_k ]]]
#define ALU64_OR_X [[[ alu64_or_x ]]]
#define ALU64_XOR_K [[[ alu64_xor_k ]]]
#define ALU64_XOR_X [[[ alu64_xor_x ]]]
#define ALU64_MOV_K [[[ alu64_mov_k ]]]
#define ALU64_MOV_X [[[ alu64_mov_x ]]]
#define ALU64_NEG [[[ alu64_neg ]]]
#define ALU64_LSH_K [[[ alu64_lsh_k ]]]
#define ALU64_LSH_X [[[ alu64_lsh_x ]]]
#define ALU64_RSH_K [[[ alu64_rsh_k ]]]
#define ALU64_RSH_X [[[ alu64_rsh_x ]]]
#define ALU64_ARSH_K [[[ alu64_arsh_k ]]]
#define ALU64_ARSH_X [[[ alu64_arsh_x ]]]
#define LDX_MEM_B [[[ ldx_mem_b ]]]
#define LDX_MEM_H [[[ ldx_mem_h ]]]
#define LDX_MEM_W [[[ ldx_mem_w ]]]
#define LDX_MEM_DW [[[ ldx_mem_dw ]]]
#define STX_MEM_B [[[ stx_mem_b ]]]
#define STX_MEM_H [[[ stx_mem_h ]]]
#define STX_MEM_W [[[ stx_mem_w ]]]
#define STX_MEM_DW [[[ stx_mem_dw ]]]
#define ST_MEM_B [[[ st_mem_b ]]]
#define ST_MEM_H [[[ st_mem_h ]]]
#define ST_MEM_W [[[ st_mem_w ]]]
#define ST_MEM_DW [[[ st_mem_dw ]]]
#define JMP_JA [[[ jmp_ja ]]]
#define JMP_JEQ_K [[[ jmp_jeq_k ]]]
#define JMP_JEQ_X [[[ jmp_jeq_x ]]]
#define JMP_JNE_K [[[ jmp_jne_k ]]]
#define JMP_JNE_X [[[ jmp_jne_x ]]]
#define JMP_JGT_K [[[ jmp_jgt_k ]]]
#define JMP_JGT_X [[[ jmp_jgt_x ]]]
#define JMP_JGE_K [[[ jmp_jge_k ]]]
#define JMP_JGE_X [[[ jmp_jge_x ]]]
#define JMP_JSET_K [[[ jmp_jset_k ]]]
#define JMP_JSET_X [[[ jmp_jset_x ]]]
#define JMP_JSGT_K [[[ jmp_jsgt_k ]]]
#define JMP_JSGT_X [[[ jmp_jsgt_x ]]]
#define JMP_JSGE_K [[[ jmp_jsge_k ]]]
#define JMP_JSGE_X [[[ jmp_jsge_x ]]]
#define JMP_JSLT_K [[[ jmp_jslt_k ]]]
#define JMP_JSLT_X [[[ jmp_jslt_x ]]]
#define JMP_JSLE_K [[[ jmp_jsle_k ]]]
#define JMP_JSLE_X [[[ jmp_jsle_x ]]]
#define JMP_CALL [[[ jmp_call ]]]
#define JMP_EXIT [[[ jmp_exit ]]]
#define LDIMM64 [[[ ldimm64 ]]]

#define WORD_BITS 32u
#define DWORD_BITS 64u

typedef struct {
    u32 lo;
    u32 hi;
} reg64_t;

struct call_frame {
    u32 ret_pc;
    reg64_t saved[FRAME_REGS];
};

static struct call_frame frames[MAX_CALL_DEPTH];
static reg64_t r[11];
static u8 stack[MAX_CALL_DEPTH * BPF_FRAME_SIZE];
static u32 retsp = 0;

static inline u32 build_key(u32 seed) {
    return seed * 1732714u + 1182730741u;
}

inline void decrypt_instr(u32 addr, u8* data, u8* dest) {
    u32* w = (u32*)(data);
    u32* d = (u32*)(dest);
    d[0] = w[0];
    d[1] = w[1];
}

static reg64_t reg_zero(void)
{
    reg64_t x;
    x.lo = 0;
    x.hi = 0;
    return x;
}

static reg64_t reg_from_u32(u32 v)
{
    reg64_t x;
    x.lo = v;
    x.hi = 0;
    return x;
}

static reg64_t reg_from_s32(s32 v)
{
    reg64_t x;
    x.lo = (u32)v;
    x.hi = (v < 0) ? 0xffffffffu : 0u;
    return x;
}

static int reg_is_zero(reg64_t a)
{
    return a.lo == 0 && a.hi == 0;
}

static int reg_eq(reg64_t a, reg64_t b)
{
    return a.lo == b.lo && a.hi == b.hi;
}

static int reg_ne(reg64_t a, reg64_t b)
{
    return !reg_eq(a, b);
}

static int reg_gt_u(reg64_t a, reg64_t b)
{
    if (a.hi != b.hi) return a.hi > b.hi;
    return a.lo > b.lo;
}

static int reg_ge_u(reg64_t a, reg64_t b)
{
    if (a.hi != b.hi) return a.hi > b.hi;
    return a.lo >= b.lo;
}

static int reg_lt_s(reg64_t a, reg64_t b)
{
    s32 ahi = (s32)a.hi;
    s32 bhi = (s32)b.hi;
    if (ahi != bhi) return ahi < bhi;
    return a.lo < b.lo;
}

static int reg_le_s(reg64_t a, reg64_t b)
{
    s32 ahi = (s32)a.hi;
    s32 bhi = (s32)b.hi;
    if (ahi != bhi) return ahi < bhi;
    return a.lo <= b.lo;
}

static int reg_gt_s(reg64_t a, reg64_t b)
{
    s32 ahi = (s32)a.hi;
    s32 bhi = (s32)b.hi;
    if (ahi != bhi) return ahi > bhi;
    return a.lo > b.lo;
}

static int reg_ge_s(reg64_t a, reg64_t b)
{
    s32 ahi = (s32)a.hi;
    s32 bhi = (s32)b.hi;
    if (ahi != bhi) return ahi > bhi;
    return a.lo >= b.lo;
}

static reg64_t reg_not(reg64_t a)
{
    reg64_t x;
    x.lo = ~a.lo;
    x.hi = ~a.hi;
    return x;
}

static reg64_t reg_neg(reg64_t a)
{
    reg64_t x = reg_not(a);
    u32 old = x.lo;
    x.lo += 1u;
    if (x.lo < old) x.hi += 1u;
    return x;
}

static reg64_t reg_add(reg64_t a, reg64_t b)
{
    reg64_t x;
    u32 old = a.lo;
    x.lo = a.lo + b.lo;
    x.hi = a.hi + b.hi + ((x.lo < old) ? 1u : 0u);
    return x;
}

static reg64_t reg_sub(reg64_t a, reg64_t b)
{
    reg64_t x;
    x.lo = a.lo - b.lo;
    x.hi = a.hi - b.hi - ((a.lo < b.lo) ? 1u : 0u);
    return x;
}

static reg64_t reg_and(reg64_t a, reg64_t b)
{
    reg64_t x;
    x.lo = a.lo & b.lo;
    x.hi = a.hi & b.hi;
    return x;
}

static reg64_t reg_or(reg64_t a, reg64_t b)
{
    reg64_t x;
    x.lo = a.lo | b.lo;
    x.hi = a.hi | b.hi;
    return x;
}

static reg64_t reg_xor(reg64_t a, reg64_t b)
{
    reg64_t x;
    x.lo = a.lo ^ b.lo;
    x.hi = a.hi ^ b.hi;
    return x;
}

static reg64_t reg_set_bit(u32 bit)
{
    reg64_t x = reg_zero();
    if (bit < 32u) x.lo = 1u << bit;
    else if (bit < 64u) x.hi = 1u << (bit - 32u);
    return x;
}


// Reimplementation of this algorithim: https://android.googlesource.com/toolchain/compiler-rt/+/release_32/lib/ashldi3.c
static reg64_t reg_lsh(reg64_t a, u32 sh)
{
    reg64_t input;
    reg64_t result;

    input = a;
    if (sh & WORD_BITS) {
        result.lo = 0;
        result.hi = (sh >= DWORD_BITS) ? 0 : (input.lo << (sh - WORD_BITS));
    } else {
        if (sh == 0)
            return a;
        result.lo = input.lo << sh;
        result.hi = (input.hi << sh) | (input.lo >> (WORD_BITS - sh));
    }
    return result;
}

// Reimplementation of this algorithm: https://github.com/torvalds/linux/blob/master/lib/lshrdi3.c
static reg64_t reg_rsh(reg64_t a, u32 sh)
{
    if (sh == 0)
        return a;

        reg64_t input;
    reg64_t result;

    input = a;
    // Check if it is less than 0 (sign bit is set)
    if (sh & WORD_BITS) {
        result.hi = 0;
        result.lo = (sh >= DWORD_BITS) ? 0 : (input.hi >> (sh - WORD_BITS));
    } else {
        result.hi = input.hi >> sh;
        result.lo = (input.hi << (WORD_BITS - sh)) | (input.lo >> sh);
    }
    return result;
}

// Reimplementation of this algorithm for 64 bit shift: https://github.com/llvm-mirror/compiler-rt/blob/master/lib/builtins/ashrdi3.c
static reg64_t reg_arsh(reg64_t a, u32 sh)
{
    reg64_t input;
    reg64_t result;

    input = a;
    if (sh & WORD_BITS) {
        result.hi = ((s32)input.hi < 0) ? -1 : 0u;
        result.lo = (u32)(((s32)input.hi) >> (sh - WORD_BITS));
    } else {
        if (sh == 0)
            return a;
        result.hi = (u32)(((s32)input.hi) >> sh);
        result.lo = ((u32)input.hi << (WORD_BITS - sh)) | (input.lo >> sh);
    }
    return result;
}

//Use algorithm: "Restoring division" from https://en.wikipedia.org/wiki/Division_algorithm
static void reg_udivmod(reg64_t num, reg64_t den, reg64_t* q, reg64_t* rem)
{
    reg64_t quotient = reg_zero();
    reg64_t remainder = reg_zero();
    u32 bit;

    if (reg_is_zero(den)) {
        *q = reg_zero();
        *rem = reg_zero();
        return;
    }

    //Basically we just do long division but on binary digits.
    for (bit = 63; bit >= 0; bit--) {
        //Shift left
        remainder = reg_lsh(remainder, 1u);
        
        // Select either the upper or lower u32 part
        if (bit >= 32u) {
            remainder.lo |= (num.hi >> (bit - 32)) & 1u;
        }
        else {
            remainder.lo |= (num.lo >> bit) & 1;
        }

        if (reg_ge_u(remainder, den)) {
            remainder = reg_sub(remainder, den);
            quotient = reg_or(quotient, reg_set_bit(bit));
        }
    }

    *q = quotient;
    *rem = remainder;
}


// Reimplementation from: https://github.com/hcs0/Hackers-Delight/blob/master/mulmnu.c.txt
static reg64_t reg_mul(reg64_t a, reg64_t b)
{
    unsigned short u[4], v[4], w[8];
    reg64_t r;
    unsigned int k, t;
    int i, j;

    u[0] = (unsigned short)(a.lo);
    u[1] = (unsigned short)(a.lo >> 16);
    u[2] = (unsigned short)(a.hi);
    u[3] = (unsigned short)(a.hi >> 16);

    v[0] = (unsigned short)(b.lo);
    v[1] = (unsigned short)(b.lo >> 16);
    v[2] = (unsigned short)(b.hi);
    v[3] = (unsigned short)(b.hi >> 16);

    for (i = 0; i < 4; i++)
        w[i] = 0;

    for (j = 0; j < 4; j++) {
        k = 0;
        for (i = 0; i < 4; i++) {
            t = u[i] * v[j] + w[i + j] + k;
            w[i + j] = (unsigned short)t;
            k = t >> 16;
        }
        w[j + 4] = (unsigned short)k;
    }

    r.lo = (u32)w[0] | ((u32)w[1] << 16);
    r.hi = (u32)w[2] | ((u32)w[3] << 16);
    return r;
}

static u32 addr_to_host(u32 base_address, s32 image_size, u32 addr)
{
    if (addr < (u32)image_size) return base_address + addr;
    return addr;
}

static u8 mem_ld_b(u32 base_address, s32 image_size, u32 addr)
{
    u32 p = addr_to_host(base_address, image_size, addr);
    return *(u8*)p;
}

static u16 mem_ld_h(u32 base_address, s32 image_size, u32 addr)
{
    u32 p = addr_to_host(base_address, image_size, addr);
    return *(u16*)p;
}

static u32 mem_ld_w(u32 base_address, s32 image_size, u32 addr)
{
    u32 p = addr_to_host(base_address, image_size, addr);
    return *(u32*)p;
}

static reg64_t mem_ld_dw(u32 base_address, s32 image_size, u32 addr)
{
    reg64_t x;
    u32 p = addr_to_host(base_address, image_size, addr);
    x.lo = *(u32*)p;
    x.hi = *(u32*)(p + 4u);
    return x;
}

static void mem_st_b(u32 base_address, s32 image_size, u32 addr, u8 v)
{
    u32 p = addr_to_host(base_address, image_size, addr);
#ifdef debug_linux_host
    if (p == 0x10000000u) {
        printf("%c", (char)v);
        return;
    }
#endif
    * (u8*)p = v;
}

static void mem_st_h(u32 base_address, s32 image_size, u32 addr, u16 v)
{
    u32 p = addr_to_host(base_address, image_size, addr);
    *(u16*)p = v;
}

static void mem_st_w(u32 base_address, s32 image_size, u32 addr, u32 v)
{
    u32 p = addr_to_host(base_address, image_size, addr);
#ifdef debug_linux_host
    if (p == 0x10000000) {
        printf("%c", (char)v);
        return;
    }
#endif

    * (u32*)p = v;
}

static void mem_st_dw(u32 base_address, s32 image_size, u32 addr, reg64_t v)
{
    u32 p = addr_to_host(base_address, image_size, addr);
    *(u32*)p = v.lo;
    *(u32*)(p + 4u) = v.hi;
}

u32 ebpf_exec(u32 base_address, s32 image_size)
{
    s32 pc = 0;
    int j;

    for (j = 0; j < 11; j++) r[j] = reg_zero();
    retsp = 0;
    r[10].lo = (u32)(stack + sizeof(stack));
    r[10].hi = 0;

    for (;;) {
        //printf("%x", pc * INSTR_SIZE);
        struct insn i;
        decrypt_instr(pc * INSTR_SIZE, (u8*)base_address + ((u32)pc * INSTR_SIZE), &i);

        reg64_t* d;
        reg64_t s;
        reg64_t kreg;
        u32 addr;
        reg64_t q;
        reg64_t rem;

        //printf("!%X!\n", pc * 8);

        pc++;
        d = &r[DST(i)];
        s = r[SRC(i)];
        kreg = reg_from_s32(i.imm);
        reg64_t ukreg = reg_from_u32(i.imm);

        switch (i.op) {
        case ALU64_ADD_K:
            *d = reg_add(*d, kreg);
            break;
        case ALU64_ADD_X:
            *d = reg_add(*d, s);
            break;

        case ALU64_SUB_K:
            *d = reg_sub(*d, kreg);
            break;
        case ALU64_SUB_X:
            *d = reg_sub(*d, s);
            break;

        case ALU64_MUL_K:
            *d = reg_mul(*d, kreg);
            break;
        case ALU64_MUL_X:
            *d = reg_mul(*d, s);
            break;

        case ALU64_DIV_K:
            if (!reg_is_zero(kreg)) {
                reg_udivmod(*d, kreg, &q, &rem);
                *d = q;
            }
            break;
        case ALU64_DIV_X:
            if (!reg_is_zero(s)) {
                reg_udivmod(*d, s, &q, &rem);
                *d = q;
            }
            break;

        case ALU64_MOD_K:
            if (!reg_is_zero(kreg)) {
                reg_udivmod(*d, kreg, &q, &rem);
                *d = rem;
            }
            break;
        case ALU64_MOD_X:
            if (!reg_is_zero(s)) {
                reg_udivmod(*d, s, &q, &rem);
                *d = rem;
            }
            break;

        case ALU64_AND_K:
            *d = reg_and(*d, ukreg);
            break;
        case ALU64_AND_X:
            *d = reg_and(*d, s);
            break;

        case ALU64_OR_K:
            *d = reg_or(*d, ukreg);
            break;
        case ALU64_OR_X:
            *d = reg_or(*d, s);
            break;

        case ALU64_XOR_K:
            *d = reg_xor(*d, ukreg);
            break;
        case ALU64_XOR_X:
            *d = reg_xor(*d, s);
            break;

        case ALU64_MOV_K:
            *d = kreg;
            break;
        case ALU64_MOV_X:
            *d = s;
            break;

        case ALU64_NEG:
            *d = reg_neg(*d);
            break;

        case ALU64_LSH_K:
            *d = reg_lsh(*d, (u32)i.imm);
            break;

        case ALU64_LSH_X:
            *d = reg_lsh(*d, s.lo & 63u);
            break;

        case ALU64_RSH_K:
            *d = reg_rsh(*d, (u32)i.imm);
            break;
        case ALU64_RSH_X:
            *d = reg_rsh(*d, s.lo & 63u);
            break;

        case ALU64_ARSH_K:
            *d = reg_arsh(*d, (u32)i.imm);
            break;
        case ALU64_ARSH_X:
            *d = reg_arsh(*d, s.lo & 63u);
            break;

        case LDX_MEM_B:
            d->lo = mem_ld_b(base_address, image_size, s.lo + (u32)(s32)i.off);
            d->hi = 0;
            break;
        case LDX_MEM_H:
            d->lo = mem_ld_h(base_address, image_size, s.lo + (u32)(s32)i.off);
            d->hi = 0;
            break;
        case LDX_MEM_W:
            d->lo = mem_ld_w(base_address, image_size, s.lo + (u32)(s32)i.off);
            d->hi = 0;
            break;
        case LDX_MEM_DW:
            *d = mem_ld_dw(base_address, image_size, s.lo + (u32)(s32)i.off);
            break;

        case STX_MEM_B:
            mem_st_b(base_address, image_size, d->lo + (u32)(s32)i.off, (u8)s.lo);
            break;
        case STX_MEM_H:
            mem_st_h(base_address, image_size, d->lo + (u32)(s32)i.off, (u16)s.lo);
            break;
        case STX_MEM_W:
            mem_st_w(base_address, image_size, d->lo + (u32)(s32)i.off, s.lo);
            break;
        case STX_MEM_DW:
            mem_st_dw(base_address, image_size, d->lo + (u32)(s32)i.off, s);
            break;

        case ST_MEM_B:
            mem_st_b(base_address, image_size, d->lo + (u32)(s32)i.off, (u8)i.imm);
            break;
        case ST_MEM_H:
            mem_st_h(base_address, image_size, d->lo + (u32)(s32)i.off, (u16)i.imm);
            break;
        case ST_MEM_W:
            mem_st_w(base_address, image_size, d->lo + (u32)(s32)i.off, (u32)i.imm);
            break;
        case ST_MEM_DW:
            mem_st_dw(base_address, image_size, d->lo + (u32)(s32)i.off, kreg);
            break;

        case JMP_JA:
            pc += i.off;
            break;

        case JMP_JEQ_K:
            if (reg_eq(*d, kreg)) pc += i.off;
            break;
        case JMP_JEQ_X:
            if (reg_eq(*d, s)) pc += i.off;
            break;

        case JMP_JNE_K:
            if (reg_ne(*d, kreg)) pc += i.off;
            break;
        case JMP_JNE_X:
            if (reg_ne(*d, s)) pc += i.off;
            break;

        case JMP_JGT_K:
            if (reg_gt_u(*d, kreg)) pc += i.off;
            break;
        case JMP_JGT_X:
            if (reg_gt_u(*d, s)) pc += i.off;
            break;

        case JMP_JGE_K:
            if (reg_ge_u(*d, kreg)) pc += i.off;
            break;
        case JMP_JGE_X:
            if (reg_ge_u(*d, s)) pc += i.off;
            break;

        case JMP_JSET_K:
            if (!reg_is_zero(reg_and(*d, kreg))) pc += i.off;
            break;
        case JMP_JSET_X:
            if (!reg_is_zero(reg_and(*d, s))) pc += i.off;
            break;

        case JMP_JSGT_K:
            if (reg_gt_s(*d, kreg)) pc += i.off;
            break;
        case JMP_JSGT_X:
            if (reg_gt_s(*d, s)) pc += i.off;
            break;

        case JMP_JSGE_K:
            if (reg_ge_s(*d, kreg)) pc += i.off;
            break;
        case JMP_JSGE_X:
            if (reg_ge_s(*d, s)) pc += i.off;
            break;

        case JMP_JSLT_K:
            if (reg_lt_s(*d, kreg)) pc += i.off;
            break;
        case JMP_JSLT_X:
            if (reg_lt_s(*d, s)) pc += i.off;
            break;

        case JMP_JSLE_K:
            if (reg_le_s(*d, kreg)) pc += i.off;
            break;
        case JMP_JSLE_X:
            if (reg_le_s(*d, s)) pc += i.off;
            break;

        case JMP_CALL:
            if (SRC(i) == PSEUDO_CALL) {
                if (retsp >= MAX_CALL_DEPTH) return 0;

                frames[retsp].ret_pc = (u32)pc;
                for (j = 0; j < FRAME_REGS; j++) {
                    frames[retsp].saved[j] = r[j];
                }
                retsp++;

                r[10].lo -= BPF_FRAME_SIZE;
                pc = (s32)((s32)pc + (s32)i.imm);
                break;
            }
            return 0;

        case JMP_EXIT:
            if (retsp == 0) {
                return r[0].lo;
            }

            kreg = r[0];
            retsp--;
            for (j = 0; j < FRAME_REGS; j++) {
                r[j] = frames[retsp].saved[j];
            }
            r[0] = kreg;
            pc = (s32)frames[retsp].ret_pc;
            break;

        case LDIMM64:
        {
            struct insn i2;
            decrypt_instr((pc - 1) * INSTR_SIZE, (u8*)(base_address + ((u32)pc * INSTR_SIZE)), &i2);
            d->lo = (u32)i.imm;
            d->hi = (u32)i2.imm;
            pc++;
            break;
        }

        default:
            return 0;
        }
    }
}