#ifdef debug_linux_host
#include <stdio.h>
#endif

#include "interpreter.h"
#include "arithmatic64.h"

#define DST(i) ((i.reg) & 0xf)
#define SRC(i) ((i.reg) >> 4)

#define PSEUDO_CALL 1
#define INSTR_SIZE 8
#define MAX_CALL_DEPTH 16
#define FRAME_REGS 11
#define BPF_FRAME_SIZE 512


#define INSTR_CRYPT_SEED [[[ ebpf_crypt_seed ]]]

#define ALU64_ADD_K [[[ alu64_add_k ]]]
#define ALU64_ADD_X [[[ alu64_add_x ]]]
#define ALU64_SUB_K [[[ alu64_sub_k ]]]
#define ALU64_SUB_X [[[ alu64_sub_x ]]]
#define ALU64_MUL_K [[[ alu64_mul_k ]]]
#define ALU64_MUL_X [[[ alu64_mul_x ]]]
#define ALU64_DIV_K [[[ alu64_div_k ]]]
#define ALU64_DIV_X [[[ alu64_div_x ]]]
#define ALU64_MOD_K [[[ alu64_mod_k ]]]
#define ALU64_MOD_X [[[ alu64_mod_x ]]]
#define ALU64_AND_K [[[ alu64_and_k ]]]
#define ALU64_AND_X [[[ alu64_and_x ]]]
#define ALU64_OR_K [[[ alu64_or_k ]]]
#define ALU64_OR_X [[[ alu64_or_x ]]]
#define ALU64_XOR_K [[[ alu64_xor_k ]]]
#define ALU64_XOR_X [[[ alu64_xor_x ]]]
#define ALU64_MOV_K [[[ alu64_mov_k ]]]
#define ALU64_MOV_X [[[ alu64_mov_x ]]]
#define ALU64_NEG [[[ alu64_neg ]]]
#define ALU64_LSH_K [[[ alu64_lsh_k ]]]
#define ALU64_LSH_X [[[ alu64_lsh_x ]]]
#define ALU64_RSH_K [[[ alu64_rsh_k ]]]
#define ALU64_RSH_X [[[ alu64_rsh_x ]]]
#define ALU64_ARSH_K [[[ alu64_arsh_k ]]]
#define ALU64_ARSH_X [[[ alu64_arsh_x ]]]
#define LDX_MEM_B [[[ ldx_mem_b ]]]
#define LDX_MEM_H [[[ ldx_mem_h ]]]
#define LDX_MEM_W [[[ ldx_mem_w ]]]
#define LDX_MEM_DW [[[ ldx_mem_dw ]]]
#define STX_MEM_B [[[ stx_mem_b ]]]
#define STX_MEM_H [[[ stx_mem_h ]]]
#define STX_MEM_W [[[ stx_mem_w ]]]
#define STX_MEM_DW [[[ stx_mem_dw ]]]
#define ST_MEM_B [[[ st_mem_b ]]]
#define ST_MEM_H [[[ st_mem_h ]]]
#define ST_MEM_W [[[ st_mem_w ]]]
#define ST_MEM_DW [[[ st_mem_dw ]]]
#define JMP_JA [[[ jmp_ja ]]]
#define JMP_JEQ_K [[[ jmp_jeq_k ]]]
#define JMP_JEQ_X [[[ jmp_jeq_x ]]]
#define JMP_JNE_K [[[ jmp_jne_k ]]]
#define JMP_JNE_X [[[ jmp_jne_x ]]]
#define JMP_JGT_K [[[ jmp_jgt_k ]]]
#define JMP_JGT_X [[[ jmp_jgt_x ]]]
#define JMP_JGE_K [[[ jmp_jge_k ]]]
#define JMP_JGE_X [[[ jmp_jge_x ]]]
#define JMP_JSET_K [[[ jmp_jset_k ]]]
#define JMP_JSET_X [[[ jmp_jset_x ]]]
#define JMP_JSGT_K [[[ jmp_jsgt_k ]]]
#define JMP_JSGT_X [[[ jmp_jsgt_x ]]]
#define JMP_JSGE_K [[[ jmp_jsge_k ]]]
#define JMP_JSGE_X [[[ jmp_jsge_x ]]]
#define JMP_JSLT_K [[[ jmp_jslt_k ]]]
#define JMP_JSLT_X [[[ jmp_jslt_x ]]]
#define JMP_JSLE_K [[[ jmp_jsle_k ]]]
#define JMP_JSLE_X [[[ jmp_jsle_x ]]]
#define JMP_CALL [[[ jmp_call ]]]
#define JMP_EXIT [[[ jmp_exit ]]]
#define LDIMM64 [[[ ldimm64 ]]]

typedef struct {
	u32 ret_pc;
	ua64 ctx[FRAME_REGS];
} call_frame;

static inline u32 build_key(u32 seed) {
	return seed * 1732714u + 1182730741u;
}

[[[ render_section("ebpf_interpreter_decrypt") ]]]

static u32 translate_host(u32 base_address, s32 image_size, u32 addr)
{
	//A hack to allow for MMIO writes but ALSO allow the image to write to its global memory space.
	return (addr < (u32)image_size) ? (base_address + addr) : addr;
}

static u8 load_u8(u32 base_address, s32 image_size, u32 addr)
{
	u32 p = translate_host(base_address, image_size, addr);
	return *(u8*)p;
}

static u16 load_u16(u32 base_address, s32 image_size, u32 addr)
{
	u32 p = translate_host(base_address, image_size, addr);
	return *(u16*)p;
}

static u32 load_u32(u32 base_address, s32 image_size, u32 addr)
{
	u32 p = translate_host(base_address, image_size, addr);
	return *(u32*)p;
}

static ua64 load_ua64(u32 base_address, s32 image_size, u32 addr)
{
	ua64 x;
	u32 p = translate_host(base_address, image_size, addr);
	x.lower = *(u32*)p;
	x.upper = *(u32*)(p + 4u);
	return x;
}

static void store_u8(u32 base_address, s32 image_size, u32 addr, u8 v)
{
	u32 p = translate_host(base_address, image_size, addr);
#ifdef debug_linux_host
	if (p == 0x10000000u) {
		printf("%c", (char)v);
		return;
	}
#endif
	* (u8*)p = v;
}

static void mem_st_u16(u32 base_address, s32 image_size, u32 addr, u16 v)
{
	u32 p = translate_host(base_address, image_size, addr);
	*(u16*)p = v;
}

static void store_u32(u32 base_address, s32 image_size, u32 addr, u32 v)
{
	u32 p = translate_host(base_address, image_size, addr);
#ifdef debug_linux_host
	if (p == 0x10000000) {
		printf("%c", (char)v);
		return;
	}
#endif

	*(u32*)p = v;
}

static void store_ua64(u32 base_address, s32 image_size, u32 addr, ua64 v)
{
	u32 p = translate_host(base_address, image_size, addr);
	*(u32*)p = v.lower;
	*(u32*)(p + 4u) = v.upper;
}

//We make these static to prevent too much stack allocation in ebpf_exec
//which can start to cause issues...
static u8 stack[MAX_CALL_DEPTH * BPF_FRAME_SIZE];
static call_frame frames[MAX_CALL_DEPTH];

u32 ebpf_exec(u32 base_address, s32 image_size)
{
	s32 pc = 0;

	//Shared handler state variables
	int j;     //Indexer, for register ops
	ua64* d;   //Destination pointer
	ua64 s;    //Source register operand
	ua64 kreg; //Immediate operand value, evaluated from register.
	ua64 q;    //Quotient output
	ua64 rem;  //Remainder output


	ua64 r[FRAME_REGS]; //R0 -> R10 (Inclusive)

	for (j = 0; j < FRAME_REGS; j++) {
		r[j].upper = 0;
		r[j].lower = 0;
	}

	u32 retsp = 0; //The current return stack pointer index in stack frames.


	r[10].lower = (u32)(stack + sizeof(stack));
	r[10].upper = 0;

	for (;;) {
		struct insn i;

		decrypt_instr(pc * INSTR_SIZE, (u8*)base_address + ((u32)pc * INSTR_SIZE), &i);

		pc++;
		d = &r[DST(i)];
		s = r[SRC(i)];
		kreg = a64_from_s32(i.imm);
		ua64 ukreg = a64_from_u32(i.imm);

		switch (i.op) {
		case ALU64_ADD_K:
			*d = a64_add(*d, kreg);
			break;
		case ALU64_ADD_X:
			*d = a64_add(*d, s);
			break;

		case ALU64_SUB_K:
			*d = a64_sub(*d, kreg);
			break;
		case ALU64_SUB_X:
			*d = a64_sub(*d, s);
			break;

		case ALU64_MUL_K:
			*d = a64_mul(*d, kreg);
			break;
		case ALU64_MUL_X:
			*d = a64_mul(*d, s);
			break;

		case ALU64_DIV_K:
			if (!a64_is_zero(kreg)) {
				a64_udivmod(*d, kreg, &q, &rem);
				*d = q;
			}
			break;
		case ALU64_DIV_X:
			if (!a64_is_zero(s)) {
				a64_udivmod(*d, s, &q, &rem);
				*d = q;
			}
			break;

		case ALU64_MOD_K:
			if (!a64_is_zero(kreg)) {
				a64_udivmod(*d, kreg, &q, &rem);
				*d = rem;
			}
			break;
		case ALU64_MOD_X:
			if (!a64_is_zero(s)) {
				a64_udivmod(*d, s, &q, &rem);
				*d = rem;
			}
			break;

		case ALU64_AND_K:
			*d = a64_and(*d, ukreg);
			break;
		case ALU64_AND_X:
			*d = a64_and(*d, s);
			break;

		case ALU64_OR_K:
			*d = a64_or(*d, ukreg);
			break;
		case ALU64_OR_X:
			*d = a64_or(*d, s);
			break;

		case ALU64_XOR_K:
			*d = a64_xor(*d, ukreg);
			break;
		case ALU64_XOR_X:
			*d = a64_xor(*d, s);
			break;

		case ALU64_MOV_K:
			*d = kreg;
			break;
		case ALU64_MOV_X:
			*d = s;
			break;

		case ALU64_NEG:
			*d = a64_neg(*d);
			break;

		case ALU64_LSH_K:
			*d = a64_lsh(*d, (u32)i.imm);
			break;

		case ALU64_LSH_X:
			*d = a64_lsh(*d, s.lower);
			break;

		case ALU64_RSH_K:
			*d = a64_rsh(*d, (u32)i.imm);
			break;
		case ALU64_RSH_X:
			*d = a64_rsh(*d, s.lower);
			break;

		case ALU64_ARSH_K:
			*d = a64_arsh(*d, (u32)i.imm);
			break;
		case ALU64_ARSH_X:
			*d = a64_arsh(*d, s.lower);
			break;

		case LDX_MEM_B:
			d->lower = load_u8(base_address, image_size, s.lower + i.off);
			d->upper = 0;
			break;
		case LDX_MEM_H:
			d->lower = load_u16(base_address, image_size, s.lower + i.off);
			d->upper = 0;
			break;
		case LDX_MEM_W:
			d->lower = load_u32(base_address, image_size, s.lower + i.off);
			d->upper = 0;
			break;
		case LDX_MEM_DW:
			*d = load_ua64(base_address, image_size, s.lower + i.off);
			break;

		case STX_MEM_B:
			store_u8(base_address, image_size, d->lower + i.off, (u8)s.lower);
			break;
		case STX_MEM_H:
			mem_st_u16(base_address, image_size, d->lower + i.off, (u16)s.lower);
			break;
		case STX_MEM_W:
			store_u32(base_address, image_size, d->lower + i.off, s.lower);
			break;
		case STX_MEM_DW:
			store_ua64(base_address, image_size, d->lower + i.off, s);
			break;

		case ST_MEM_B:
			store_u8(base_address, image_size, d->lower + i.off, (u8)i.imm);
			break;
		case ST_MEM_H:
			mem_st_u16(base_address, image_size, d->lower + i.off, (u16)i.imm);
			break;
		case ST_MEM_W:
			store_u32(base_address, image_size, d->lower + i.off, (u32)i.imm);
			break;
		case ST_MEM_DW:
			store_ua64(base_address, image_size, d->lower + i.off, kreg);
			break;

		case JMP_JA:
			pc += i.off;
			break;

		case JMP_JEQ_K:
			if (a64_eq(*d, kreg)) pc += i.off;
			break;
		case JMP_JEQ_X:
			if (a64_eq(*d, s)) pc += i.off;
			break;

		case JMP_JNE_K:
			if (a64_ne(*d, kreg)) pc += i.off;
			break;
		case JMP_JNE_X:
			if (a64_ne(*d, s)) pc += i.off;
			break;

		case JMP_JGT_K:
			if (a64_gt_u(*d, kreg)) pc += i.off;
			break;
		case JMP_JGT_X:
			if (a64_gt_u(*d, s)) pc += i.off;
			break;

		case JMP_JGE_K:
			if (a64_ge_u(*d, kreg)) pc += i.off;
			break;
		case JMP_JGE_X:
			if (a64_ge_u(*d, s)) pc += i.off;
			break;

		case JMP_JSET_K:
			if (!a64_is_zero(a64_and(*d, kreg))) pc += i.off;
			break;
		case JMP_JSET_X:
			if (!a64_is_zero(a64_and(*d, s))) pc += i.off;
			break;

		case JMP_JSGT_K:
			if (a64_gt_s(*d, kreg)) pc += i.off;
			break;
		case JMP_JSGT_X:
			if (a64_gt_s(*d, s)) pc += i.off;
			break;

		case JMP_JSGE_K:
			if (a64_ge_s(*d, kreg)) pc += i.off;
			break;
		case JMP_JSGE_X:
			if (a64_ge_s(*d, s)) pc += i.off;
			break;

		case JMP_JSLT_K:
			if (a64_lt_s(*d, kreg)) pc += i.off;
			break;
		case JMP_JSLT_X:
			if (a64_lt_s(*d, s)) pc += i.off;
			break;

		case JMP_JSLE_K:
			if (a64_le_s(*d, kreg)) pc += i.off;
			break;
		case JMP_JSLE_X:
			if (a64_le_s(*d, s)) pc += i.off;
			break;

		case JMP_CALL:
			if (SRC(i) != PSEUDO_CALL || retsp >= MAX_CALL_DEPTH)
				return 0;

			frames[retsp].ret_pc = pc;

			for (j = 0; j < FRAME_REGS; j++) {
				frames[retsp].ctx[j] = r[j];
			}

			retsp++;

			r[10].lower -= BPF_FRAME_SIZE;

			pc = (s32)(pc + (s32)i.imm);
			break;

		case JMP_EXIT:
			if (retsp == 0) {
				return r[0].lower;
			}

			kreg = r[0];
			retsp--;
			for (j = 0; j < FRAME_REGS; j++) {
				r[j] = frames[retsp].ctx[j];
			}
			r[0] = kreg;
			pc = (s32)frames[retsp].ret_pc;
			break;

		case LDIMM64:
		{
			struct insn i2;
			decrypt_instr((pc - 1) * INSTR_SIZE, (u8*)(base_address + ((u32)pc * INSTR_SIZE)), &i2);
			d->lower = (u32)i.imm;
			d->upper = (u32)i2.imm;
			pc++;
			break;
		}

		default:
			return 0;
		}
	}
}