core_crypt_seed: [[[ core_crypt_seed ]]]
encoding:
- group: "alur"
  token: "RiscObfToken"
  opcode: "[[[ opcode_alur ]]]"
  derived:
  - name: "addr"
    funct3: "[[[ funct3_add_sub ]]]"
    funct7: "[[[ funct7_add ]]]"
  - name: "subr"
    funct3: "[[[ funct3_add_sub ]]]"
    funct7: "[[[ funct7_sub ]]]"
  - name: "sll"
    funct3: "[[[ funct3_sll ]]]"
    funct7: "[[[ funct7_rtype_base ]]]"
  - name: "slt"
    funct3: "[[[ funct3_slt ]]]"
    funct7: "[[[ funct7_rtype_base ]]]"
  - name: "sltu"
    funct3: "[[[ funct3_sltu ]]]"
    funct7: "[[[ funct7_rtype_base ]]]"
  - name: "xorr"
    funct3: "[[[ funct3_xor ]]]"
    funct7: "[[[ funct7_rtype_base ]]]"
  - name: "srl"
    funct3: "[[[ funct3_srx ]]]"
    funct7: "[[[ funct7_srl ]]]"
  - name: "sra"
    funct3: "[[[ funct3_srx ]]]"
    funct7: "[[[ funct7_sra ]]]"
  - name: "orr"
    funct3: "[[[ funct3_or ]]]"
    funct7: "[[[ funct7_rtype_base ]]]"
  - name: "andr"
    funct3: "[[[ funct3_and ]]]"
    funct7: "[[[ funct7_rtype_base ]]]"

- group: "shiftimm"
  token: "RiscObfToken"
  opcode: "[[[ opcode_opimm ]]]"
  derived:
  - name: "slli"
    funct3: "[[[ funct3_sll ]]]"
    funct7: "[[[ funct7_rtype_base ]]]"
  - name: "srli"
    funct3: "[[[ funct3_srx ]]]"
    funct7: "[[[ funct7_srl ]]]"
  - name: "srai"
    funct3: "[[[ funct3_srx ]]]"
    funct7: "[[[ funct7_sra ]]]"

- group: "alui"
  token: "RiscObfIToken"
  opcode: "[[[ opcode_opimm ]]]"
  derived:
  - name: "addi"
    funct3: "[[[ funct3_addi ]]]"
  - name: "slti"
    funct3: "[[[ funct3_slt ]]]"
  - name: "sltiu"
    funct3: "[[[ funct3_sltu ]]]"
  - name: "xori"
    funct3: "[[[ funct3_xor ]]]"
  - name: "ori"
    funct3: "[[[ funct3_or ]]]"
  - name: "andi"
    funct3: "[[[ funct3_and ]]]"

- name: "nop"
  token: "RiscObfToken"
  opcode: "[[[ opcode_opimm ]]]"

- name: "bl"
  token: "RiscObfJToken"
  opcode: "[[[ opcode_jal ]]]"

- name: "b"
  token: "RiscObfJToken"
  opcode: "[[[ opcode_jal ]]]"

- name: "blr"
  token: "RiscObfIToken"
  opcode: "[[[ opcode_jalr ]]]"
  funct3: "[[[ funct3_jalr ]]]"

- name: "lui"
  token: "RiscObfUToken"
  opcode: "[[[ opcode_lui ]]]"

- name: "auipc"
  token: "RiscObfUToken"
  opcode: "[[[ opcode_auipc ]]]"

- name: "adru"
  token: "RiscObfUToken"
  opcode: "[[[ opcode_lui ]]]"

- name: "adrurel"
  token: "RiscObfUToken"
  opcode: "[[[ opcode_auipc ]]]"

- name: "adrl"
  token: "RiscObfIToken"
  opcode: "[[[ opcode_opimm ]]]"
  funct3: "[[[ funct3_addi ]]]"

- name: "loadlrel"
  token: "RiscObfIToken"
  opcode: "[[[ opcode_load ]]]"
  funct3: "[[[ funct3_lw ]]]"

- name: "adrlrel"
  token: "RiscObfIToken"
  opcode: "[[[ opcode_opimm ]]]"
  funct3: "[[[ funct3_addi ]]]"

- group: "branch"
  token: "RiscObfSBToken"
  opcode: "[[[ opcode_branch ]]]"
  derived:
  - name: "beq"
    funct3: "[[[ funct3_beq ]]]"
  - name: "bne"
    funct3: "[[[ funct3_bne ]]]"
  - name: "blt"
    funct3: "[[[ funct3_blt ]]]"
  - name: "bge"
    funct3: "[[[ funct3_bge ]]]"
  - name: "bltu"
    funct3: "[[[ funct3_bltu ]]]"
  - name: "bgeu"
    funct3: "[[[ funct3_bgeu ]]]"
    # bgt is blt with operands swapped
    # ble is bge with operands swapped
    # bgtu is bltu with operands swapped
    # bleu is bgeu with operands swapped

- group: "store"
  token: "RiscObfSToken"
  opcode: "[[[ opcode_store ]]]"
  derived:
  - name: "sb"
    funct3: "[[[ funct3_sb ]]]"
  - name: "sh"
    funct3: "[[[ funct3_sh ]]]"
  - name: "sw"
    funct3: "[[[ funct3_sw ]]]"

- group: "load"
  token: "RiscObfIToken"
  opcode: "[[[ opcode_load ]]]"
  derived:
  - name: "lb"
    funct3: "[[[ funct3_lb ]]]"
  - name: "lh"
    funct3: "[[[ funct3_lh ]]]"
  - name: "lw"
    funct3: "[[[ funct3_lw ]]]"
  - name: "lbu"
    funct3: "[[[ funct3_lbu ]]]"
  - name: "lhu"
    funct3: "[[[ funct3_lhu ]]]"
